allure-pytest==2.13.2
allure-python-commons
attrs
certifi
cffi
colorama
func-timeout
h11
idna
iniconfig
outcome
packaging
pluggy
pycparser
PySocks
pytest==8.0.2
pytest-dependency
pytz
selenium
sniffio
sortedcontainers
trio
trio-websocket
typing_extensions
urllib3
wsproto
numpy==1.26.4
opencv-python
opencv-python-headless


